.roomBox {
    background-color: #fff;
    position: relative;
    margin-bottom: 30px;
    border-radius: 3px;
    box-shadow: 0 0 30px 0 rgb(0 0 0 / 10%);
    margin-left: 0;
    margin-right: 0;

    .figure {
        margin: 0 0 1rem;
    }

    .listroBox a.wishlist_bt {
        position: absolute;
        right: 15px;
        top: 15px;
        z-index: 1;
        background-color: #000;
        background-color: rgba(0, 0, 0, .6);
        padding: 9px 10px;
        display: inline-block;
        color: #fff;
        line-height: 1;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        -ms-border-radius: 3px;
        border-radius: 3px;
    }

    .listroBox figure a img {
        position: absolute;
        left: 50%;
        top: 50%;
        -webkit-transform: translate(-50%, -50%) scale(1);
        -moz-transform: translate(-50%, -50%) scale(1);
        -ms-transform: translate(-50%, -50%) scale(1);
        -o-transform: translate(-50%, -50%) scale(1);
        transform: translate(-50%, -50%) scale(1);
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        width: 100%;
        transition: all .3s ease-in-out;
    }

    .listroBox figure a img,
    .listroBox.list_view figure a img {
        -moz-transition: all .3s ease-in-out;
        -o-transition: all .3s ease-in-out;
        -webkit-transition: all .3s ease-in-out;
        -ms-transition: all .3s ease-in-out;
    }

    .listroBox figure .read_more {
        position: absolute;
        top: 50%;
        left: 0;
        margin-top: -12px;
        -webkit-transform: translateY(10px);
        -moz-transform: translateY(10px);
        -ms-transform: translateY(10px);
        -o-transform: translateY(10px);
        transform: translateY(10px);
        text-align: center;
        opacity: 0;
        visibility: hidden;
        width: 100%;
        -webkit-transition: all .6s;
        transition: all .6s;
        z-index: 2;
    }

    .listroBox figure .read_more span {
        background-color: #ffcd22;
        background-color: #ffcd22;
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        -ms-border-radius: 20px;
        border-radius: 10px;
        display: inline-block;
        color: #fff;
        font-size: 14px;
        padding: 8px 25px;
        text-transform: uppercase;
    }

    img {
        border: none;
        max-width: 100%;
        height: auto;
    }

    .listroBox figure .read_more span {
        background-color: #ffcd22;
        background-color: #ffcd22;
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        -ms-border-radius: 20px;
        border-radius: 10px;
        display: inline-block;
        color: #fff;
        font-size: 14px;
        padding: 8px 25px;
        text-transform: uppercase;
    }

    .listroBox .listroBoxmain {
        padding: 20px 25px 15px;
    }

}