.body-userlogin {
  width: 100%;
  height: 45em;
  background-image: url("src/images/defaultBcg.jpeg");
  background-size: cover;
}
.logo {
  width: 300px;
  height: 40px;
  background: url("src/images/logo.svg") no-repeat;
  margin: 35px auto;
  position: relative;
  left: 25px;
  top: 90px;
}

.login-block {
  width: 400px;
  padding: 40px;
  background: rgba(13, 13, 13, 0.4);
  border-radius: 5px;
  border-top: 5px solid #af9a7d;
  margin: 0 auto;
  position: relative;

  top: 90px;
}

.login-block h1 {
  text-align: center;
  color: #000;
  font-size: 18px;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 20px;
}

.login-block input {
  width: 100%;
  height: 42px;
  box-sizing: border-box;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-bottom: 2px;
  margin-top: 5px;

  font-size: 14px;
  font-family: Montserrat;
  padding: 0 20px 0 20px;
  outline: none;
}
.login-block input:active,
.login-block input:focus {
  border: 1px solid #ff656c;
}

.login-block button {
  width: 100%;
  height: 40px;
  background: #af9a7d;
  box-sizing: border-box;
  border-radius: 5px;
  border: 1px solid #af9a7d;
  color: rgba(2, 0, 0, 0.779);
  font-weight: bold;
  text-transform: uppercase;
  font-size: 14px;
  font-family: Montserrat;
  outline: none;
  cursor: pointer;
}

.login-block button:hover {
  background: rgba(13, 13, 13, 0.2);
  border: 4px solid #af9a7d;
  color: white;
}
.login-block a {
  text-decoration: none;
  margin-top: 10px;
  color: #000;
}
.login-block a:hover {
  color: rgb(65, 65, 65);
}
